<%= provide(:new_user_registration_active, 'active') %>
<br />
<div class="col-lg-4 col-md-6 offset-lg-4 offset-md-3">
  <div class="card">
    <div class="card-header p-b-0 text-xs-center">
      <h5>Sign up</h5>
    </div>
    <div class="card-block">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><%= fa_icon 'user' %></div>
          <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: :name %>
        </div>
      </div>

<<<<<<< HEAD
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.file_field :avatar %><br />
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
=======
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><%= fa_icon 'envelope' %></div>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: :email %>
        </div>
      </div>
>>>>>>> upstream/master

      <div class="form-group">

        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>
          characters minimum)</em>
        <% end %><br/>
        <div class="input-group">
          <div class="input-group-addon"><%= fa_icon 'asterisk' %></div>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: :password %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br/>
        <div class="input-group">
          <div class="input-group-addon"><%= fa_icon 'asterisk' %></div>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: :password %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary btn-block' %>
        <%= render "devise/shared/links" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
