<!-- List of questions -->
<div class="col-md-9 col-sm-8">
	<div class="m-b-1">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="type your question(s) here">
			<span class="input-group-btn">
				<button class="btn btn-outline-success" type="button">Search</button>
			</span>
		</div>
	</div>
	<div class="center">
		<%= link_to "Perguntar", new_question_path, class: "btn btn-primary btn-lg btn-xlarge btn-center" %>
	</div><br />
	<% @questions.each do |question| %>
		<div class="card card-block">
			<h4 class="card-title"><%= link_to question.title, question %></h4>
			<p class="card-text"><%= question.text %></p>
			<span>
				<% if current_user == question.user %>
				<%= link_to "editar", edit_question_path(question) %>
				<%= link_to "deletar",
										question,
										method: :delete,
										data: { confirm: "Tem certeza que deseja excluir esta pergunta?" } %>
			<% end %>
			 </span>
		</div>
	<% end %>
</div>

<!-- Sidebar with ranking -->
<div class="col-md-3 col-sm-4">
	<div class="card">
		<h3 class="card-header m-b-0">Ranking</h3>
		<div class="nav">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<span class="tag tag-primary tag-pill pull-xs-right">11</span>
					User A
				</li>
				<li class="list-group-item">
					<span class="tag tag-primary tag-pill pull-xs-right">22</span>
					User B
				</li>
				<li class="list-group-item">
					<span class="tag tag-primary tag-pill pull-xs-right">33</span>
					User C
				</li>
			</ul>
		</div>
	</div>
</div>
