<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>


    <title><%= title(yield(:title)) %></title>
    <meta name="description" content="<%= description(yield(:meta_description)) %>">
    <link rel="canonical" href="">

    <!-- Twitter cards -->
    <meta name="twitter:card" content="sumary">
    <meta name="twitter:domain" content="">
    <meta name="twitter:title" content="<%= title(yield(:title)) %>">
    <meta name="twitter:description" content="<%= description(yield(:meta_description)) %>">
    <meta name="twitter:url" content="<%= current_url %>">
    <meta name="twitter:image" content="">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title(yield(:title)) %>">
    <meta property="og:description" content="<%= description(yield(:meta_description)) %>">
    <meta property="og:url" content="<%= current_url %>">
    <meta property="og:image" content="">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>

  	<div class="container <%= controller_name %> <%= action_name %> ">
      <div class="row">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>

    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
