<!DOCTYPE html>
<html>
  <head>
    <title>SocialStack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'layouts/navbar' %>

  	<div class="container <%= controller_name %> <%= action_name %> ">
      <div class="row">
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>

      </div>
  </body>
</html>
