<!DOCTYPE html>
<html>
  <head>
    <title>SocialStack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <div class="container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
        <%= link_to 'SocialStack', root_url, class: 'navbar-brand' %>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item"><%= link_to "About", about_path, class: "nav-link #{yield(:about_active)}" %></li>
            <li class="nav-item"><%= link_to "Sign In", user_session_path, class: "nav-link #{yield(:user_session_active)}" %></li>
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link #{yield(:new_user_registration_active)}" %></li>
          </ul>
        </div>
      </div>
    </nav>
    <%= render 'layouts/navbar' %>
  	<div class="container <%= controller_name %> <%= action_name %> ">
      <div class="row">
        <div class="col-lg-9">
    	     <%= yield %>
        </div>

        <div class="col-lg-3">
          <div class="sidebar">
            <h3>Sidebar</h3>
            <h4>Blábláblá</h4>
          </div>
        </div>
      </div>

      <hr>
      <footer>
        <p>&copy; SocialStack <%= Time.now.year %></p>
      </footer>

  	</div>
  </body>
</html>
